span.time {
        font-size: 300px;
        font-family: time;
        color: white;
      }
      @font-face {
        font-family: 'time';
        src: url('../font/holojacketboldital.ttf') format('truetype');
      }
      body {
        background-color: black;
      }
      h3 {
        color: white;
        font-size: 15px
      }
